<div class="container-fluid nav">
    <div>
        <div style="display: flex; column-gap: 4px; align-items: center">
            <img src="images/ic_tree.svg" alt="logo"/>
            <h5 class="accent" style="text-transform: uppercase">Красная книга</h5>
        </div>
        <h6 class="h8" style="margin-top: -2px; text-transform: uppercase">Города Москвы</h6>
    </div>

    <div class="links">
        <div class="btn">
            <NavLink href="" Match="NavLinkMatch.All">
                Карта объектов
            </NavLink>
        </div>
        <div class="btn">
            <NavLink href="/registry-habitants">
                Реестр растений и животных
            </NavLink>
        </div>
        <div class="btn">
            <NavLink href="/registry-territories">
                Реестр территорий
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="btn">
                <NavLink href="/requests">
                    Реестр моих заявок
                </NavLink>
            </div>
        </AuthorizeView>
    </div>

    <NavLink href="/profile">
        <div class="btn btn-icon">
            <img src="images/ic_profile.svg" width="24" height="24" alt="Profile icon"/>
            Личный кабинет
        </div>
    </NavLink>

</div>