<div class="container-fluid nav">
    <div>
        <h5 class="accent" style="text-transform: uppercase">Красная книга</h5>
        <h6 class="h8" style="margin-top: -2px; text-transform: uppercase">Города Москвы</h6>
    </div>
    
    <div class="links">
        <div class="btn">
            <NavLink href="/map" ActiveClass="active">
                Карта объектов
            </NavLink>
        </div>
        <div class="btn">
            <NavLink href="/registry" ActiveClass="active">
                Реестр объектов
            </NavLink>
        </div>
        <div class="btn">
            <NavLink href="/education" Match="NavLinkMatch.All" ActiveClass="active">
                Образование
            </NavLink>
        </div>
    </div>
    
    <div class="btn btn-icon">
        <img src="images/ic_profile.svg" width="24" height="24" alt="Profile icon" />
        <p>Личный кабинет</p>
    </div>
</div>