<div class="container-fluid nav">
    <div>
        <h5 class="accent" style="text-transform: uppercase">Красная книга</h5>
        <h6 class="h8" style="margin-top: -2px; text-transform: uppercase">Города Москвы</h6>
    </div>

    <div class="links">
        <div class="btn">
            <NavLink href="" Match="NavLinkMatch.All">
                Карта объектов
            </NavLink>
        </div>
        <div class="btn">
            <NavLink href="/registry-habitants">
                Реестр растений и животных
            </NavLink>
        </div>
        <div class="btn">
            <NavLink href="/registry-territories">
                Реестр территорий
            </NavLink>
        </div>
    </div>

    <NavLink href="/profile">
        <div class="btn btn-icon">
            <img src="images/ic_profile.svg" width="24" height="24" alt="Profile icon"/>
            Личный кабинет
        </div>
    </NavLink>

</div>