@page "/map"
@inject HttpClient Http
@inject IJSRuntime JS

<div id="map" style="width: 100%; height: 100%;"></div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeMap", await Http.GetStringAsync("json/map_customization.json"));
        }
    }
}