@page "/registry-territories/{Id}"

<PageTitle>Реестр территорий</PageTitle>

<div class="container-fluid main page-registry-territories-info" style="pointer-events: auto; overflow: auto">

    <NavMenu/>

    <h3 style="margin-top: 32px; margin-left: 24px">Карточка объекта</h3>

    <div class="container-fluid page-content">

        <div class="toolbar">
            <div class="toolbar-left">
                <div class="btn active">
                    <p>Основная информация</p>
                </div>
                <div class="btn">
                    <p>Реестр растений и животных</p>
                </div>
                <AuthorizeView>
                    <div class="btn">
                        <p>Кадастровые номера</p>
                    </div>
                </AuthorizeView>
            </div>

            <div class="toolbar-right">
                <div class="toolbar-tool export">
                    <img src="images/ic_export.svg" alt="list"/>
                    <p>Экспортировать</p>
                </div>
            </div>
        </div>

        <div class="content">

            <div class="content-left">

                <div class="main-info">
                    <img src="images/image_park.png" alt="Park"/>

                    <div class="text">
                        <h3>Москворецкий природно-исторический парк</h3>

                        <p>36,6 км² северо-запад и запад Москвы</p>
                    </div>
                </div>

                <div class="grid-left">

                    <p class="info-title" style="grid-column: 1/2; grid-row: 1/2">Дата основания:</p>
                    <p class="info-value" style="grid-column: 2/3; grid-row: 1/2">29 декабря 1998 года</p>

                    <hr class="info-divider" style="grid-column: 1/3; grid-row: 2/3"/>

                    <p class="info-title" style="grid-column: 1/2; grid-row: 3/4">Координаты:</p>
                    <p class="info-value" style="grid-column: 2/3; grid-row: 3/4">55°45′33″с.ш. 37°25′27″в.д.</p>

                </div>

            </div>

            <div class="content-right">

                <h6>Информация</h6>
                
                <div class="grid-right">

                    <p class="info-title" style="grid-column: 1/2; grid-row: 1/2">Тип:</p>
                    <p class="info-value" style="grid-column: 2/3; grid-row: 1/2">ООПТ</p>

                    <hr class="info-divider" style="grid-column: 1/3; grid-row: 2/3"/>

                    <p class="info-title" style="grid-column: 1/2; grid-row: 3/4">Площадь:</p>
                    <p class="info-value" style="grid-column: 2/3; grid-row: 3/4">3660 га</p>

                    <hr class="info-divider" style="grid-column: 1/3; grid-row: 4/5"/>

                    <p class="info-title" style="grid-column: 1/2; grid-row: 5/6">Экологические зоны:</p>
                    <p class="info-value" style="grid-column: 2/3; grid-row: 5/6">22</p>

                </div>
                
            </div>

        </div>

    </div>

</div>

@code {

    [Parameter]
    public string Id { get; set; }
    
}