@page "/registry-habitants"

<PageTitle>Реестр растений и животных</PageTitle>

<div class="container-fluid main">

    <NavMenu/>
    
    <h3>Реестр растений и животных</h3>

</div>

@code {

    

}