@page "/requests"

<PageTitle>Реестр моих заявок</PageTitle>

<div class="container-fluid main">

    <NavMenu/>

    <h3 style="margin-top: 32px; margin-left: 24px">Реестр моих заявок</h3>

</div>

@code {

    

}