//var
$color-background-globe: #E0E5EB;
$color-background-light: #fff;
$color-background-dark: #000;
$color-background-border: #000;
$color-background-accent: #009B65;

$color-text-primary: #000;
$color-text-secondary: #000;
$color-text-link: #000;
$color-text-primary-inverse: #fff;

$color-accent: rgba(238, 30, 35, 1);
$color-gray-05: rgba(20, 20, 20, 0.05);

//fonts
$font-header: "Onest", sans-serif;
;
$font-body: "Onest", sans-serif;
;

//path
$path-font-main: '../fonts/onest';

//transition
$transition-sec: .25s;
$transition: all $transition-sec ease;