@import 'base/var';

.nav {
    display: inline-flex;
    border-radius: 12px;
    background: $color-background-light;
    box-shadow: $shadow-base;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    pointer-events: auto;

    .links {
        display: inline-flex;
        align-items: center;

        .btn {
            border-radius: 0;
            background-color: transparent;
            border: none;

            &:hover {
                a {
                    border-bottom: 2px solid $color-text-link;
                }
            }

            a.active {
                border-bottom: 2px solid $color-text-link;
            }
        }
    }
}