//сброс браузерных стилей
@import 'base/reset';

//переменные
@import 'base/var';

//шрифты
@import 'base/fonts';

//миксины
@import 'base/mixins';

//сетка
@import 'base/grid';

//базовые компоненты
@import 'globe/base';

//базовые кнопки
@import 'globe/button';

// navigation bar
@import "nav";

// map
@import "map";

@import "mapinfoViews";

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column;
    padding-top: 12px;
    padding-bottom: 8px;
    row-gap: 8px;
}

.accent {
    color: $color-text-link;
}
