//сброс браузерных стилей
@import 'base/reset';

//переменные
@import 'base/var';

//шрифты
@import 'base/fonts';

//миксины
@import 'base/mixins';

//сетка
@import 'base/grid';

//базовые компоненты
@import 'globe/base';

//базовые кнопки
@import 'globe/button';

// navigation bar
@import "nav";

// map
@import "map";

.main {
}

.accent {
    color: $color-text-link;
}

.infos {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    padding-top: 8px;

    .info-container {
        grid-column: 3/3;
        grid-row: 1/1;
        border-radius: 12px;
        background: $color-background-light;
        box-shadow: $shadow-base;
    }

    .filters {
        grid-column: 3/3;
        grid-row: 1/1;
    }

    .park {
        width: 460px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: -24px;
        margin-right: 24px;

        .header {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .btn {
                border-radius: 0;
                border: none;
                background-color: transparent;
                padding: 0;
            }
        }

        .menu {
            display: inline-flex;
            width: 100%;
            border-bottom: 2px solid rgba(224, 229, 235, 1);
            margin-top: 16px;

            .btn {
                border-radius: 0;
                border: none;
                background-color: transparent;
                transition: none;

                &.active {
                    border-bottom: 2px solid $color-text-link;
                    margin-bottom: -2px;
                }
            }
        }

        .park-section {
            
            display: none;
            margin-top: 32px;

            &.active {
                display: block;
            }

            &.about {

                .image {
                    margin-top: 16px;

                    img {
                        height: 230px;
                        border-radius: 8px;
                    }
                }

                .coordinates {
                    margin-top: 16px;
                    font-size: 14px;
                }
            }

            &.registry {

                .registry-item {

                    display: grid;
                    grid-template-columns: 60px auto;
                    grid-template-rows: auto auto;
                    column-gap: 12px;
                    margin-bottom: 16px;

                    .registry-item-image {
                        grid-column: 1/2;
                        grid-row: 1/3;
                        border-radius: 6px;
                    }

                    .registry-item-name {
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }

                    .registry-item-specie {
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                }
            }
        }

        
    }

    .object {
        margin-left: -48px;
        margin-right: 48px;
        display: none;
    }
}
